.banner {
  background-image: url("../Images/Banner.jpg");
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  background-attachment: fixed;
  z-index: 1;
}
